<div id="create-task" class="task create-task">
    <form id="create-task-form" (ngSubmit)="onCreateTask($event)" [formGroup]="newTaskForm">
        <input 
            [class]="`create-task${validationError()?' create-task-invalid':''}`" 
            type="text" 
            id="task-name-textbox" 
            formControlName="newTaskName" 
            placeholder="Enter new task" 
            required>
        <button class="create-task" 
            type="button" 
            id="change-priority-button" 
            (click)="onChangePriority()">
            <fa-icon id="priority-icon" 
                [class]="this.newTaskPriorityFC.value | priorityIcon" 
                [icon]="this.newTaskPriorityFC.value | priorityIcon">
            </fa-icon>
        </button>
        <input class="create-task" type="submit" id="add-task-button" value="+">
    </form>
</div>
