<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <div class="loginForm">
            <form id="login-form" class="d-flex flex-column align-items-center justify-content-center mw-100" 
            [formGroup]="loginForm" (submit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field id="email-field">
                        <mat-label for="email">Email</mat-label>    
                        <input matInput type="email" id="email" name="email" required email formControlName="emailFC">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field id="password-field">
                        <mat-label for="password">Password</mat-label>
                        <input matInput type="password" id="password" name="password" required minlength="6" formControlName="passwordFC">
                    </mat-form-field>
                </div>
                @if(isLoading()){
                    <div class="d-flex justify-content-center align-items-center"> 
                        <div class="loader" id="loader"></div>
                    </div>
                }
                @else {
                    <input 
                        id="auth-button"
                        type="submit" 
                        class="btn btn-outline-dark" 
                        [value]="loginMode()? 'Login':'Sign Up'">
                <button id="mode-button" type="button" class="btn btn-link" (click)="loginMode.set(!loginMode())">
                    @if(loginMode()){ 
                        Don't have an account? Click here to sign up!
                    }
                    @else{
                        Already have an account? Click here to login!
                    }
                </button>
                }     
            </form>
            @if(errorSig()){
                <div class="alert alert-danger" role="alert" id="error-msg">
                    {{ errorSig() | uiError }}
                </div>
            }
        </div>
    </div>
    <div class="col-3">

    </div>
</div>
