.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.loginForm {
    background-color: lightgray;
    padding: 10px;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    min-height: 100vh;
    background-color: black;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: white;
}