.main-container {
    background-color: skyblue;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

.todo-list-container {
    background-color: lightblue;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    height: auto;
}

.search {
    width: 20vw;
    padding: 5px;
}

.placeholder-task{
    margin: 10px;
    width: 95%;
    background-color: lightcyan;
    border-radius: 5px;
    opacity: 0.5;
}

