<div class="container-fluid main-container">
    <div class="row">
        <div class="col">
            <app-header id="app-header"></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column p-3">
            <form action="javascript:void(0)">
                <input id="search"
                 class="search" 
                 type="search" 
                 [formControl]="searchTerm"
                 placeholder="Search for tasks by name..." />
            </form>
            <form>
                <label for="filterDD">Filter by: </label>
                <select id="filterDD" name="filterDD" class="m-2" [formControl]="filterDropdown">
                    <option value="None">None</option>
                    <option value="My Tasks">My Tasks</option>
                    <option value="Search Results">Search Results</option>
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="todo-list-container">
                <h4 class="header-text" id="pending-tasks-header">Pending Tasks</h4>
                <ul id="pending-tasks">
                    <app-add-task id="add-task"
                        (createTask)="onCreateTask($event)">
                    </app-add-task>
                    @if(fetchingTasksError()){
                        <p id="pending-load-error" class="fallback-text">An error occurred while loading tasks. Please try again later.</p>
                    }
                    @else if(fetchingTasks()){
                        <div class="d-flex justify-content-center align-items-center"> 
                            <div class="loader" id="pending-loader"></div>
                        </div>
                    }
                    @else{    
                        @for(task of filteredPendingTasks(); track task.id){
                            @defer (on viewport) {
                                <app-task [id]="`pending-task-comp-${task.id}`"
                                [searchTerm]="searchTerm.value || ''"
                                [isUpdating]="isUpdating() === task.id"
                                [task]="task" 
                                (toggleComplete)="onToggleCompleteness($event)" 
                                ></app-task>
                            }@placeholder{
                                <div class="placeholder-task"></div>
                            }
                        }@empty {
                            <p id="empty-pending-tasks" class="fallback-text">No pending tasks...</p>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="todo-list-container">
                <h4 class="header-text" id="completed-tasks-header">Completed Tasks</h4>
                <ul id="completed-tasks">
                    @if(fetchingTasksError()){
                        <p id="completed-load-error" class="fallback-text">An error occurred while loading tasks. Please try again later.</p>
                    }
                    @else if(fetchingTasks()){
                        <div class="d-flex justify-content-center align-items-center"> 
                            <div class="loader" id="completed-loader"></div>
                        </div>
                    }
                    @else{   
                        @for(task of filteredCompletedTasks(); track task.id){
                            @defer (on viewport) {
                                <app-task [id]="`completed-task-comp-${task.id}`"
                                [searchTerm]="searchTerm.value || ''"
                                [isUpdating]="isUpdating() === task.id"
                                [task]="task" 
                                (toggleComplete)="onToggleCompleteness($event)" 
                                ></app-task>
                            }
                            @placeholder {
                                <div id="placeholder-task" class="placeholder-task"></div>
                            } 
                        } @empty {
                            <p id="empty-completed-tasks" class="fallback-text">No completed tasks...</p>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
