<div class="header-container">
    <div class="user-data">
        <div class="d-flex flex-row justify-content-end align-items-center">
            <div class="avatar"><h4 class="avatar-text">{{currentUser()?.email?.at(0)?.toUpperCase()}}</h4></div>
            <div class="d-flex flex-column align-items-center">
                <p>{{currentUser()?.email}}</p>
                <button class="btn btn-link p-0 m-0" (click)="logout()">Logout</button>
            </div>          
        </div>    
    </div>
    <h1 class="header-text">Todo List</h1>
    <h4 class="header-text">Align your daily tasks!</h4>
</div>