.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(max(15vw,30vh));
    width: auto;
    background-color: darkblue;
    position: relative;
}

.user-data {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 0.8rem;
}

.avatar-text {
    color: white;
    margin-top: 10%;
}